<style>
  /* figure {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
  } */

  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  /* .author {
    font-style: italic;
    color: #888;
  } */

  .john-lennon {
    background-color: rgb(171, 224, 242);
  }

  .confucius {
    background-color: rgb(165, 236, 165);
  }

  .albert-einstein {
    background-color: rgb(243, 205, 205);
  }

  .mark-twain {
    background-color: rgb(255, 255, 255);
  }

  .aristotle {
    background-color: rgb(196, 250, 202);
  }

  .socrates {
    background-color: rgb(219, 211, 249);
  }

  .plato {
    background-color: rgb(237, 246, 201);
  }

  .henry-ford {
    background-color: rgb(255, 242, 204);
  }

  .grandma-moses {
    background-color: rgb(229, 229, 229);
  }

  .pablo-picasso {
    background-color: rgb(116, 183, 255);
  }

  .maya-angelou {
    background-color: rgb(145, 255, 118);
  }

  .michael-jordan {
    background-color: rgb(236, 150, 150);
  }

  .wayne-gretzky {
    background-color: rgb(175, 182, 193);
  }

  .michael-jackson {
    background-color: rgb(209, 162, 191);
  }

  .zig-ziglar {
    background-color: rgba(103, 76, 255, 0.451);
  }

  .jim-rohn {
    background-color: rgba(255, 76, 76, 0.451);
  }

  .napoleon-hill {
    background-color: rgba(255, 255, 76, 0.451);
  }

  .tony-robbins {
    background-color: rgba(76, 255, 76, 0.451);
  }

  .brian-tracy {
    background-color: rgba(76, 255, 255, 0.451);
  }

  .jimmy-dean {
    background-color: rgba(255, 76, 255, 0.451);
  }

  .norman-vincent-peale {
    background-color: rgb(127, 206, 149);
  }

  .jimmy-carter {
    background-color: rgb(206, 127, 127);
  }

  .kevin-kruse {
    background-color: rgb(127, 127, 206);
  }

  .robert-frost {
    background-color: rgb(127, 206, 206);
  }

  .florence-nightingale {
    background-color: rgb(206, 127, 206);
  }

  .amelia-earhart {
    background-color: rgb(206, 206, 127);
  }

  .babe-ruth {
    background-color: rgb(206, 206, 206);
  }

  .w-clement-stone {
    background-color: rgb(127, 127, 127);
  }

  .earl-nightingale {
    background-color: rgb(127, 255, 127);
  }

  .charles-swindoll {
    background-color: rgb(127, 127, 255);
  }

  .alice-walker {
    background-color: rgb(127, 255, 255);
  }

  .buddha {
    background-color: rgb(255, 127, 255);
  }

  .lao-tzu {
    background-color: rgb(255, 255, 127);
  }

  .chinese-proverb {
    background-color: rgb(226, 129, 168);
  }

  .woodie-allen {
    background-color: rgb(128, 133, 231);
  }

  .steve-jobs {
    background-color: rgb(255, 128, 128);
  }

  .vince-lombardi {
    background-color: rgb(128, 255, 128);
  }

  .stephen-covey {
    background-color: rgb(128, 128, 255);
  }

  .christopher-columbus {
    background-color: rgb(128, 255, 255);
  }

  .johann-wolfgang-von-goethe {
    background-color: rgb(255, 128, 255);
  }

  .frank-sinatra {
    background-color: rgb(255, 255, 128);
  }

  .anais-nin {
    background-color: rgb(128, 128, 128);
  }

  .george-bernard-shaw {
    background-color: rgb(255, 128, 128);
  }

  .vincent-van-gogh {
    background-color: rgb(128, 255, 128);
  }

  .jimmy-hendrix {
    background-color: rgb(128, 128, 255);
  }

  .john-f-kennedy {
    background-color: rgb(128, 255, 255);
  }

  .george-washington {
    background-color: rgb(255, 128, 255);
  }

  .jesus {
    background-color: rgb(99, 99, 195);
  }

  .jimmy-carter {
    background-color: floralwhite;
  }

  .kevin-kruse {
    background-color: rgb(8, 52, 8);
  }

  .robert-frost {
    background-color: forestgreen;
  }

  .amelia-earhart {
    background-color: gainsboro;
  }

  .babe-ruth {
    background-color: rgb(174, 228, 174);
  }

  .w-clement-stone {
    background-color: rgb(76, 90, 76);
  }

  .earl-nightingale {
    background-color: rgb(90, 144, 90);
  }

  .charles-swindoll {
    background-color: rgb(15, 241, 15);
  }

  .alice-walker {
    background-color: rgb(68, 40, 207);
  }

  .buddha {
    background-color: rgb(90, 144, 90);
  }

  .lao-tzu {
    background-color: rgb(255, 255, 255);
  }

  .chinese-proverb {
    background-color: rgb(90, 144, 90);
  }

  .ralph-waldo-emerson {
    background-color: rgb(255, 182, 193);
  }

  .henry-david-thoreau {
    background-color: rgb(135, 206, 235);
  }

  .erma-bombeck {
    background-color: rgb(255, 228, 196);
  }

  .booker-t-washington {
    background-color: rgb(144, 238, 144);
  }

  .ancient-indian-proverb {
    background-color: rgb(255, 160, 122);
  }

  .theodore-roosevelt {
    background-color: rgb(255, 218, 185);
  }

  .george-addair {
    background-color: rgb(173, 216, 230);
  }

  .maimonides {
    background-color: rgb(240, 230, 140);
  }

  .arthur-ashe {
    background-color: rgb(255, 105, 180);
  }

  .japanese-proverb {
    background-color: rgb(255, 69, 0);
  }

  .helen-keller {
    background-color: rgb(255, 20, 147);
  }

  .anne-frank {
    background-color: rgb(255, 99, 71);
  }

  .dalai-lama {
    background-color: rgb(255, 140, 0);
  }

  .sheryl-sandberg {
    background-color: rgb(255, 215, 0);
  }

  .latin-proverb {
    background-color: rgb(255, 165, 0);
  }

  .unknown {
    background-color: rgb(255, 69, 0);
  }

  .marie-curie {
    background-color: rgb(255, 105, 180);
  }

  .les-brown {
    background-color: rgb(255, 20, 147);
  }

  .joshua-j-marine {
    background-color: rgb(255, 99, 71);
  }

  .leonardo-da-vinci {
    background-color: rgb(255, 140, 0);
  }

  .jamie-paolinetti {
    background-color: rgb(255, 215, 0);
  }

  .erica-jong {
    background-color: rgb(255, 165, 0);
  }

  .bob-dylan {
    background-color: rgb(255, 69, 0);
  }

  .benjamin-franklin {
    background-color: rgb(255, 105, 180);
  }

  .bill-cosby {
    background-color: rgb(255, 20, 147);
  }

  .roger-staubach {
    background-color: rgb(255, 99, 71);
  }

  .george-eliot {
    background-color: rgb(255, 140, 0);
  }

  .oprah-winfrey {
    background-color: rgb(255, 215, 0);
  }

  .ann-landers {
    background-color: rgb(255, 165, 0);
  }

  .abigail-van-buren {
    background-color: rgb(255, 69, 0);
  }

  .farrah-gray {
    background-color: rgb(255, 105, 180);
  }

  .jesse-owens {
    background-color: rgb(255, 20, 147);
  }

  .sir-claus-moser {
    background-color: rgb(255, 99, 71);
  }

  .rosa-parks {
    background-color: rgb(255, 140, 0);
  }

  .norman-vaughan {
    background-color: rgb(255, 215, 0);
  }

  .martin-luther-king-jr {
    background-color: rgb(255, 165, 0);
  }

  .teddy-roosevelt {
    background-color: rgb(255, 69, 0);
  }

  .gloria-steinem {
    background-color: rgb(255, 105, 180);
  }

  .mae-jemison {
    background-color: rgb(255, 20, 147);
  }

  .beverly-sills {
    background-color: rgb(255, 99, 71);
  }

  .eleanor-roosevelt {
    background-color: rgb(255, 140, 0);
  }

  .ayn-rand {
    background-color: rgb(255, 215, 0);
  }

  .abraham-lincoln {
    background-color: rgb(255, 165, 0);
  }

  .audrey-hepburn {
    background-color: rgb(255, 69, 0);
  }
</style>

<figure class="%AUTHOR-CLASS%">
  <h1>%QUOTE%</h1>
  <figcaption>%AUTHOR%</figcaption>
</figure>
