<style>
  /* figure {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
  } */

  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  /* .author {
    font-style: italic;
    color: #888;
  } */

  .john-lennon {
    background-color: rgb(171, 224, 242);
  }

  .confucius {
    background-color: rgb(165, 236, 165);
  }

  .albert-einstein {
    background-color: rgb(243, 205, 205);
  }

  .mark-twain {
    background-color: rgb(255, 255, 255);
  }

  .aristotle {
    background-color: rgb(196, 250, 202);
  }

  .socrates {
    background-color: rgb(219, 211, 249);
  }

  .plato {
    background-color: rgb(237, 246, 201);
  }

  .henry-ford {
    background-color: rgb(255, 242, 204);
  }

  .grandma-moses {
    background-color: rgb(229, 229, 229);
  }

  .pablo-picasso {
    background-color: rgb(116, 183, 255);
  }

  .maya-angelou {
    background-color: rgb(145, 255, 118);
  }

  .michael-jordan {
    background-color: rgb(236, 150, 150);
  }

  .wayne-gretzky {
    background-color: rgb(175, 182, 193);
  }

  .michael-jackson {
    background-color: rgb(209, 162, 191);
  }

  .zig-ziglar {
    background-color: rgba(103, 76, 255, 0.451);
  }
</style>

<figure class="%AUTHOR-CLASS%">
  <h1>%QUOTE%</h1>
  <figcaption>%AUTHOR%</figcaption>
</figure>
